@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

/* Aquí definimos las Custom properties */
:root {
  --negro: black;
  --rojo:#ff0000;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Modifico mi Srollbar */

/* body{
height: 400vh;
} */

::-webkit-scrollbar{
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track{
background: #0d4426;

}

::-webkit-scrollbar-thumb{
  background: #0eeb33;
  border-radius: .5em;
  }
/* Ver porque el hover no funciona en la scrollbar */
  ::-webkit-scrollbar:hover{
    background: #bb271c;
    }







/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}

/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos del HTML fuera del reset */

/* Body */

.bodyClass{
  width:  100%;
  height: 100%;
}

/*Header Navegaitor*/
.headerClass {
  width: 100%;
  height: auto;
  position: fixed;
} 
.ulMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
 
}
 .menu {
  background-image: radial-gradient(circle, rgb(158, 201, 158) 0%, rgb(160, 223, 93) 20%, rgb(26, 90, 47) 100%);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
} 

.ulMenu{
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}

.menu ul>li a img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 5px 10px 5px 10px;
  }

.ulMenu .liLogo0 .logo0 img{
  width:  3rem;
  height: 3rem;
}

.ulMenu li a:hover {
  color: var(--rojo);
  transition: color 1s;
}




/*Main*/

.classMain {
padding-top: 0%;
margin-top:  20%; ;

}
.content{
  background-color: #ff0000;
  display: flex;
  justify-items: auto;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.gallery {
width: 100%;
height: 100%;
display: flex;
row-gap: 5px;
}

.gallery .zoon-info img{
  border-radius: 1rem;
  border: 1rem solid #0d4426;

  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  width: 100%;
  margin-top: auto;
  padding-top: auto ;
}

h1{
  text-align: center;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.map {
  border: 2px solid black;
  border-radius: .4rem;
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;

}

/*Footer*/

.classFooter .ulNav{
  background-image: radial-gradient(circle, rgb(158, 201, 158) 0%, rgb(160, 223, 93) 20%, rgb(26, 90, 47) 100%);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}

.classFooter ul li {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.classFooter ul li a {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.classFooter .ulNav li a:hover {
  color:var(--rojo);
  transition: color 1s;
}

.classFooter .ulNav li a img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 5px 10px 5px 10px;
}

.classFooter address {
  background-image: radial-gradient(circle, rgb(158, 201, 158) 0%, rgb(160, 223, 93) 20%, rgb(26, 90, 47) 100%);
  color: var(--negro);
  font-size: .6rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items:center ;
}

