@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

/* Aquí definimos las Custom properties */
:root {
  --negro: black;
  --rojo:#ff0000;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Modifico mi Srollbar */

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track{
background: #0d4426;
}

::-webkit-scrollbar-thumb{
  background: #67c718;
  border-radius: .2em;
  }


/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}

/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;

}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  background-color: #2694425d;
  margin: 0;
  padding: 0;
}

/* Estilos del HTML fuera del reset*/

/* INDEX HTML */

/*Header Navegaitor*/

 .menu {
  width: 100%;
  height: auto;
  background-image: radial-gradient(circle, rgb(158, 201, 158) 0%, rgb(160, 223, 93) 20%, rgb(26, 90, 47) 100%);
  position: fixed;
} 

.ulMenu{
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap;
}

.menu ul>li a img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 5px 10px 5px 10px;
  }

.ulMenu .liLogo0 .logo0 img{
  width:  3rem;
  height: 3rem;
}


.imgLogo0:hover{
  border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 0px 0px 15px 15px #3f6b365e;
  -webkit-box-shadow: 0px 0px 15px 15px #44793d;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  }


  .logo:hover .imgLogo {-webkit-transform:scale(1.3);transform:scale(1.3);}
  .logo {overflow:hidden;}

.ulMenu li a:hover {
  color: var(--rojo);
  transition: color 1s;
}


/*Main*/
.classMain{
  width: auto;
  height: auto;
}
.flexConteiner {
  width: 100%;
  height: 100%;
  background-color: #2694425d;
  padding-top: 6rem;
  padding-bottom: 1rem;
   display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
 
}

.gallery {
  width: 200px;
  height: 200px;
  margin: 5px;
}

.gallery img{
  width:200px;
  height:200px;
  border: .2rem solid #5c635fb4;
  border-radius: 2rem;
}


h1{
  text-align: center;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
  margin-left: .5rem;
  margin-right: .5rem;
  text-align: justify;
}

.imgClass{
width: 25%;
height: 25%;
margin: 0 auto;
text-align: center;
}

.imgClass img{
  border: .2rem solid #a9bbb1af;
  border-radius: 2rem;
}

.imgClass:hover img {-webkit-transform:scale(.95);transform:scale(.95 );}
.imgClass {overflow:hidden;}

.map {
  margin: 4px;
  width: 100%;
  border: .2rem solid #092214;
  border-radius: 2rem;
  background-color: #092214;
}

.map iframe{
  border: .2rem solid #092214;
  border-radius: 2rem;
}


/*Footer*/
.classFooter{
height: 100%;
width: 100%;
background-image: radial-gradient(circle, rgb(158, 201, 158) 0%, rgb(160, 223, 93) 20%, rgb(26, 90, 47) 100%);

}

.classFooter .ulNav{
  background-image: radial-gradient(circle, rgb(158, 201, 158) 0%, rgb(160, 223, 93) 20%, rgb(26, 90, 47) 100%);
  height: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}

.classFooter ul li {
  height: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.classFooter ul li a {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.classFooter .ulNav li a:hover {
  color:var(--rojo);
  transition: color 1s;
}

.classFooter .ulNav li a img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 5px 10px 5px 10px;
}

.classFooter address {
  background-image: radial-gradient(circle, rgb(158, 201, 158) 0%, rgb(160, 223, 93) 20%, rgb(26, 90, 47) 100%);
  color: var(--negro);
  font-size: .6rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items:center ;
}

/* ABOUT US Estilos que no comparte con el INDEX */

.flexConteinerAboutUs {
  width: 100%;
  height: 100%;
  background-color: #2694425d;
  padding-top: 6rem;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* EXPERIENCES Estilos que no comparte con el INDEX */
.flexConteinerExperiences {
  width: 100%;
  height: 100%;
  background-color: #2694425d;
  padding-top: 6rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.galleryExperiences {
  width:  1000px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center
  ;
}

.galleryExperiences img{
  width:1000px;
  height:200px;
  border: .2rem solid #5c635fb4;
  border-radius: 2rem;
}


/* GALLERY Estilos que no comparte con el INDEX */

.h1Gallery {
  font-weight: 400;
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
}

.galleryLinea {
  background: #550b51;
  height: 6px;
  width: 100%;
  display: block;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding-top: 40px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.galeria img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
}
