@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
  padding: 0%;
  margin: 0%;
}

/* .auto {
    width: auto;
}

.mi {
    width: min-content;
}

.max {
    width: max-content;
}

.fit {
    width: fit-content;
} */

.headerclass {
  background: yellowgreen;
  padding: 0px;
  ;
}

.menu {
  display: inline-block;

}

.menu ul {
  list-style: none;
  padding: 0%;
}

.menu ul>li {
  display: inline-block;



}

.imgLogo0 {
  padding: 5px 5px 5px 10px;
  width: 3rem;
  height: 3rem;

}

.liLogo1 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo1 {
  text-decoration: none;
  color: rgb(158, 19, 19);
  font-size: 1rem;
}

.imgLogo1 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo2 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo2 {
  text-decoration: none;
  color: rgb(158, 19, 19);
  font-size: 1rem;
}

.imgLogo2 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}


.liLogo3 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo3 {
  text-decoration: none;
  color: rgb(158, 19, 19);
  font-size: 1rem;
}

.imgLogo3 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo4 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo4 {
  text-decoration: none;
  color: rgb(158, 19, 19);
  font-size: 1rem;
}

.imgLogo4 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo5 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo5 {
  text-decoration: none;
  color: rgb(158, 19, 19);
  font-size: 1rem;
}

.imgLogo5 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo6 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo6 {
  text-decoration: none;
  color: rgb(158, 19, 19);
  font-size: 1rem;
}

.imgLogo6 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo7 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo7 {
  text-decoration: none;
  color: rgb(158, 19, 19);
  font-size: 1rem;
}

.imgLogo7 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo8 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo8 {
  text-decoration: none;
  color: rgb(158, 19, 19);
  font-size: 1rem;
}

.imgLogo8 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo9 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo9 {
  text-decoration: none;
  color: rgb(158, 19, 19);
  font-size: 1rem;
}

.imgLogo9 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo10 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
  
}

.logo10 {
  text-decoration: none;
  color: rgb(158, 19, 19);
  font-size: 1rem;
}

.imgLogo10 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
  
}