@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

/* Aquí definimos las Custom properties */
:root {
  --negro: black;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}

/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos del HTML fuera del reset */

/*Header Navegaitor*/
.headerClass {
  background-image: radial-gradient(circle, green 0%, rgb(19, 29, 8) 20%, rgb(110, 204, 141) 100%);
  position: fixed;
  width: 100%;
}

.headerClass nav li a:hover {
  color: rgb(197, 210, 214);
  transition: color 1s;
}

.menu {
  display: inline-block;

}

.menu ul {
  list-style: none;
}

.menu ul>li {
  display: inline-block;
}

.imgLogo0 {
  padding: 5px 5px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.liLogo1 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo1 {
  text-decoration: none;
  color: var(--negro);
  font-size: 1rem;
}

.imgLogo1 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo2 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo2 {
  text-decoration: none;
  color: var(--negro);
  font-size: 1rem;
}

.imgLogo2 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}


.liLogo3 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo3 {
  text-decoration: none;
  color: var(--negro);
  font-size: 1rem;
}

.imgLogo3 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo4 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo4 {
  text-decoration: none;
  color: var(--negro);
  font-size: 1rem;
}

.imgLogo4 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo5 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo5 {
  text-decoration: none;
  color: var(--negro);
  font-size: 1rem;
}

.imgLogo5 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo6 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo6 {
  text-decoration: none;
  color: var(--negro);
  font-size: 1rem;
}

.imgLogo6 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo7 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
}

.logo7 {
  text-decoration: none;
  color: var(--negro);
  font-size: 1rem;
}

.imgLogo7 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo8 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
  position: relative;
  top: 15px;
  left: 95%;
}

.logo8 {
  text-decoration: none;
  color: var(--negro);
  font-size: 1rem;
}

.imgLogo8 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo9 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
  position: relative;
  top: 15px;
  left: 95%;
}

.logo9 {
  text-decoration: none;
  color: var(--negro);
  font-size: 1rem;
}

.imgLogo9 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.liLogo10 {
  padding: 5px 10px 5px 10px;
  width: 3rem;
  height: 3rem;
  position: relative;
  top: 15px;
  left: 95%;
}

.logo10 {
  text-decoration: none;
  color: var(--negro);
  font-size: 1rem;
}

.imgLogo10 {
  padding: 5px 5px 1px 10px;
  width: 1.5rem;
  height: 1.5rem;

}

/*Main*/

classMain {
  padding-bottom: 30px;

}

/* .gallery{
display: inline-block;
width: 5rem;
height: 5rem;
padding: 5px 10px 5px 10px;
position: absolute;
top: auto;
right: auto;
bottom: auto;
left: auto;
} */

.gallery img {
  display: block;
}



/*Footer*/

.classFooter {
  background-image: radial-gradient(circle, green 0%, rgb(19, 29, 8) 20%, rgb(110, 204, 141) 100%);
  margin-top: 50px;
  width: 100%;
  height: 100%;

}

.map iframe {
  width: auto;
  height: auto;
  position: relative;
  top: 40px;
  left: 45%;


}

.classFooter ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  position: relative;
  left: 200px;
}



.classFooter .ulNav li a img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 5px 10px 5px 10px;
  position: relative;
  top: 15px;
  left: 600px;

}

.classFooter address {
  font-size: 1rem;
  color: var(--negro)
}
   
